*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.log

/target/

/surefire-reports/
/failsafe-reports/

.idea/
*.iws
*.iml
*.ipr
out/

.DS_Store
Thumbs.db

*.env
.env.local
.env.*
!env.template
*.lock
*.generated.xml
hs_err_pid*
replay_pid*
heapdump*.hprof
*.swp